@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

* {
    font-family: "Figtree", sans-serif;
}

@theme {
    --color-primary: #ffd60a;
    --color-primary-dull: #ffa600;
    --color-primary-faded: #fff6cc;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
